

#Elements>tbody>tr>td:first-child{
    background-color: LightGray;
    width: 50px;
    font-size: x-small;
    color: black;
}

td{
    font-family: courier;
    font-size: small;
    padding: 5px;

}

body{
    margin: 0px;
}

#Elements{
    border-collapse:collapse;
    width:100%;

}

textarea{
    width:100%;
    font-family: courier;
    font-size: small;
    resize: none;
    padding: 4px;

}

.editable{
    color: SlateGray;
}

.Error{
    color: red;
}

.Plot2D{
    width:100%;
    height:300px;
}