

#Elements>tbody>tr>td:first-child{
    white-space: nowrap;
    font-size: x-small;
    overflow: hidden;
}

#Elements>tbody>tr>td:last-child{
    width: 99%
}

.Expression>tr>td:first-child{
    background-color: #66CD00;
    color: white;
}
.Expression>tr.Out>td{
    font-size: 16px;
}


.Plot2D>tr>td:first-child{
    background-color: #66CD00;
    color: white;
}
.Plot3D>tr>td:first-child{
    background-color: #66CD00;
    color: white;
}
.New>tr>td:first-child{
    background-color: LightGray;
    color: black;
}

.Modified>tr>td:first-child{
    background-color: gold;
    color: black;
}

.Error>tr>td:first-child{
    background-color: red;
    color: white;
}




td{
    font-family: monospace;
    font-size: small;
    padding: 5px;
}

body{
    margin: 0px;
}

#Elements{
    border-collapse:collapse;
    width:100%;
    
}

.CodeMirror { height: auto; border: 1px solid #ddd; }

td { white-space:pre }

textarea{
    width:100%;
    font-family: courier;
    font-size: small;
    resize: none;
    padding: 4px;
    height: 14px;

}
.containment{
    width:100%;

}
.editable{
    color: SlateGray;
}

.Error{
    color: red;
}

.Plot2D{
    height:300px;
}

.Plot3D{
    height:300px;
}

.Plot3DActive{
    -webkit-box-sizing:border-box;
    border:2px solid #41403b;
}
